<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/">E-TickPark</a>					
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <img src="/assets/icon.png" alt="Logo" width="40" height="40" class="d-inline-block align-text-center">
            </div>
          </nav>

        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
            sec:authorize="isAuthenticated()">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent" sec:authorize="isAuthenticated()">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item">
                    <a
                        class="nav-link"
                        th:classappend="${isActive} == 'home' ? 'active' : ''"
                        aria-current="page"
                        href="/">
                        Home
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        th:classappend="${isActive} == 'cart' ? 'active' : ''"
                        href="/">
                        Cart
                    </a>
                </li>
                <li class="nav-item">
                    <a
                        class="nav-link"
                        th:classappend="${isActive} == 'wahana' ? 'active' : ''"
                        href="/wahana"
                        sec:authorize="hasRole('ADMIN')">
                        Manage
                    </a>
                </li>
            </ul>

            <form th:action="@{/logout}" th:method="POST">
                <button 
                  class="btn btn-danger" 
                  type="submit" 
                  style="color: white">
                  <i class="fas fa-sign-out-alt"></i>
                  Logout
                </button>
              </form>              
        </div>
    </div>
</nav>

